.grid {
    width: 100%;
    display: grid;
    padding: 0;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 100px 40px 140px 100px 40px;
    grid-gap: 25px 20px;
}

.layout:first-child {
    grid-column: 1/4;
    grid-row: 1/2;
    line-height: 100px;
}

.layout:nth-child(2) {
    grid-column: 1/4;
    grid-row: 2/3;
    line-height: 40px;
}

.layout:nth-child(3) {
    grid-column: 1/4;
    grid-row: 3/4;
    line-height: 140px;
}

.layout:nth-child(4),
.layout:nth-child(5),
.layout:nth-child(6) {
    line-height: 100px;
}

.layout:last-child {
    grid-column: 1/4;
    grid-row: 5/6;
    line-height: 40px;
}

.grid.wide {
    max-width: 940px;
    margin: 0 auto;
}

body {
    margin: 0;
}

.layout {
    background-color: #CB316E;
    color: white;
    font-weight: 600;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}